  h1 { 
    font-size: 220%; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: blue;
   }
   h2 { 
    font-size: 120%; 
    font-family:  Arial; 
    color: blue;
   }
  p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
   }
   a {
			color: grey; 
			border-bottom: .07em solid;

		}